@font-face {
  font-family: sfpro;
  src: url(../fonts/sf-pro-display_medium.woff2);
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-family: sfpro;
  position: relative;
  overflow: hidden;
  background-image: url("../images/h1.48d6b6cfc48ce74e87a5.jpg");
}

header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: relative;
  padding-top: 25px;
  background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 1250px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header h1 {
  text-align: center;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 1250px) {
  header h1 {
    font-size: 22px;
  }
}

section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 1250px) {
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

section .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  width: 900px;
  height: 300px;
  border-radius: 20px;
}

@media only screen and (max-width: 900px) {
  section .content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 600px;
  }
}

section .content-wrapper img {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

section .content-wrapper .payment {
  z-index: 10;
  padding: 15px;
  border-radius: 20px;
  height: 300px;
  color: white;
  width: 500px;
  font-size: 26px;
  position: relative;
}

@media only screen and (max-width: 1250px) {
  section .content-wrapper .payment {
    font-size: 20px;
  }
}

@media only screen and (max-width: 700px) {
  section .content-wrapper .payment {
    margin-bottom: 20px;
    margin-right: 0px;
    height: 300px;
    width: 300px;
  }
}

section .content-wrapper .payment * {
  padding-top: 10px;
}

section .content-wrapper .payment p {
  margin: 0;
}

section .content-wrapper .payment .mint-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .content-wrapper .payment .mint-maxcount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .content-wrapper .payment .minted-count {
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section .content-wrapper .payment .mintButton {
  display: block;
  border: none;
  border-radius: 10px;
  width: 100%;
  background-color: white;
  color: black;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .content-wrapper .payment .mintButton:hover {
  background-color: rgba(128, 128, 128, 0.4);
  color: white;
}

section .content-wrapper .payment .mintButton:active {
  background-color: #e66465;
}

section .content-wrapper .payment .mobile-meta {
  display: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 0px;
  margin: 15px auto 0px;
}

@media only screen and (max-width: 900px) {
  section .content-wrapper .payment .mobile-meta {
    display: block;
    color: white;
  }
}

section .content-wrapper .payment .user-count {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

section .content-wrapper .payment .user-count button {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  border: none;
  color: white;
  font-size: 18px;
  margin: 0 10px;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section .content-wrapper .payment .user-count button:hover {
  background-color: rgba(128, 128, 128, 0.4);
  color: white;
}

section .content-wrapper .payment .user-count .selected {
  background-color: white;
  color: black;
}
/*# sourceMappingURL=main.css.map */