@font-face {
    font-family: sfpro;
    src: url(../fonts/sf-pro-display_medium.woff2);
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: sfpro;
    position: relative;
    overflow: hidden;
    background-image: url('../images/h1.48d6b6cfc48ce74e87a5.jpg');
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    position: relative;
    padding-top: 25px;
    background-color: rgba($color: black, $alpha: 0.8);

    @media only screen and (max-width: 1250px) {
        
        flex-direction: column;
    }

    h1 {
        text-align: center;
        padding: 0;
        margin: 0;

        @media only screen and (max-width: 1250px) {
            //padding-top: 10px;
            font-size: 22px;
        }
    }

    // > img {
    //     position: absolute;
    //     top: 20px;
    //     left: 0;
    //     margin-left: 20px;
    //     height: 20px;
    //     width: 111px;
    //     display: block;

    //     @media only screen and (max-width: 1250px) {
    //         position: relative;
    //         top: 5px;
    //     }
    // }
    
    // .wrapper {
    //     position: absolute;
    //     top: auto;
    //     right: 0;
    //     display: flex;
    //     justify-content: flex-end;
    //     align-items: center;
    //     background-color: rgba($color: white, $alpha: 0.7);
    //     border-radius: 8px;
    //     margin-right: 50px;
    //     font-size: 14px;



    //     @media only screen and (max-width: 700px) {
    //     //display: none;

    //     }

    //     * {
    //         padding: 10px;
    //     }

    //     img {
    //         display: block;
    //     }

    //     div {
    //         background-color: transparent;
    //         display: none;
    //     }

    //     button {
    //         background-color: rgba($color: white, $alpha: 0.7);
    //         border: none;
    //         color: grey;
    //         cursor: pointer;
    //         border-radius: 8px;
    //         transition: 0.5s;

    //         &:hover{
    //             background-color: transparent;
    //         }
    //     }
    // }
}

section {
    height: 100%;
    display: flex;
    justify-content: center;
    //background-color: bisque;
    align-items: center;
    overflow: hidden;
    position: relative;

    @media only screen and (max-width: 1250px) {
        flex-direction: column-reverse;
    }

    .content-wrapper {
        display: flex;
        background-color: rgba($color: black, $alpha: 0.8);
        width: 900px;
        height: 300px;
        border-radius: 20px;

        @media only screen and (max-width: 900px) {
            flex-direction: column;
            align-items: center;
            height: 600px;
        }

        img {
            width: 300px;
            height: 300px;
            overflow: hidden;
            //transform: translateX(-70%) scale(1.5);
        }
    
        .payment {
            z-index: 10;
            padding: 15px;
            //margin-right: 140px;
            border-radius: 20px;
            height: 300px;
            color: white;
            width: 500px;
            font-size: 26px;
            //margin-top: -100px;
            position: relative;
            
            @media only screen and (max-width: 1250px) {
                //margin-bottom: 20px;
                //margin-right: 0px;
                font-size: 20px;
            }
    
            @media only screen and (max-width: 700px) {
                margin-bottom: 20px;
                margin-right: 0px;
                height: 300px;
                width: 300px;
            }
    
            .static-photo {
    
            }
    
            * {
                padding-top: 10px;
            }
    
            p {
                margin: 0;
            }
    
    

    
            .mint-cost {
                display: flex;
                justify-content: space-between;
            }
    
            .mint-maxcount {
                display: flex;
                justify-content: space-between;
            }
    
            .minted-count {
                font-size: 20px;
                display: flex;
                justify-content: space-between;
            }
    
            .mintButton {
                display: block;
                border: none;
                border-radius: 10px;
                width: 100%;
                background-color: white;
                color: black;
                padding: 5px;
                transition: 0.5s;
    
                &:hover{
                    background-color: rgba($color: grey, $alpha: 0.4 );
                    color: white;
                }
    
                &:active {
                    background-color: #e66465;
                }
            }
    
            .mobile-meta {
                display: none;
                border-radius: 10px;
                font-size: 14px;
                padding: 0px;
                margin: 15px auto 0px;
                
                @media only screen and (max-width: 900px) {
                    display: block;
                    color: white;
                }
            }
    
            .user-count {
                padding: 10px 0;
                display: flex;
                justify-content: space-between;
                width: 100%;
                //cursor: pointer;
                
                button {
                    display: block;
                    background-color: rgba($color: black, $alpha: 0.7);
                    padding: 5px;
                    border: none;
                    color: white;
                    font-size: 18px;
                    margin: 0 10px;
                    border-radius: 10px;
                    transition: 0.5s;
    
                    &:hover{
                        background-color: rgba($color: grey, $alpha: 0.4 );
                        color: white;
                    }
                }
    
                .selected {
                    background-color: rgba($color: white, $alpha: 1.0 );
                    color: black;
                }
            }
        }
    }


}